@model Management.Web.Models.ViewModels.LoginVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    @*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>*@

</head>



<body class="loginBack" style="font-family:'Arial Rounded MT'">
   
    <div class="container p-3 w-75 mt-5 mx-auto shadow bg-dark text-light" style="max-width:600px;border-radius:1rem">

        <div class="row mb-5">

            <h2 class="text-center">LOGIN</h2>
        </div>

        <div class="p-3">
            <form method="post">
                <div class="row mb-3">

                    <input type="text" placeholder="Enter Your User Name" class="form-control"  asp-for="Username" required />
                    <span class="text-danger" asp-validation-for="Username"></span>
                </div>
                <div class="row mb-3">

                    <input type="password" placeholder="Enter Your Password" class="form-control"  asp-for="Password" required minlength="5" />
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>

                <div class="mt-5">

                    <input type="submit" value="Login" class="btn text-center form-control btn-primary p-2 text-light" />

                </div>

            </form>
            
        </div>

    </div>





</body>
</html>


